#wrapper{
  min-height:100%;
}

.main{
  overflow:hidden;
  padding-bottom:30px;
}

.navbar-default {
  background-color: #00BAE9;
  border-color: #f3f3f3;

  .navbar-brand {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }
  .navbar-nav > li > a {
    color: #fff;

    &:hover {
      color: #2C6C91;
    }
  }
}

.navbar-default .navbar-nav > .active > a {
  background-color: darken(#00BAE9, 10%);
}

.nav-gravatar {
  float: left;
  position: relative;
  top: -6px;
  left: -10px;
  border: 1px solid rgb(238, 238, 238);
}
.splash{
  background-color:white;

}

footer{
    border-top: 1px solid #eee;
    min-height: 100px;
    color: #8e8e8e;
    background: #fff;
    padding-top: 65px;
    letter-spacing: -.2px;
      ul {
          list-style: none;
      }
   .footer__bottom{
       border-top: 1px solid #ddd;
       margin-top: 40px;
       padding-top: 40px;
       color: #CCC;
       font-size: 1.1em;
   }
}
