.panel-footer{
    background-color:white;
}
form.friends_requests{
    display:inline-block;
}
.label-friend-request-pending{
        font-size: 12px;
        padding: 4px 5px;
        line-height: 1.5px;
        border-radius: 3px;
}